<!DOCTYPE html>
  <html>
    <head>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
       <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
      <script>
        var app = angular.module("myApp", []);
        app.controller("myCtrl", function($scope, $http, $window) {
          $scope.bookMarks = bookMarksList;
          $scope.showList = false;
          $scope.showValues = function(){
            download("asasdas","name.json","text/json");
            $scope.showList = $scope.searchText.length < 1 ? false : true;
          }
        });
      </script>
    </head>

    <body  ng-app="myApp" ng-controller="myCtrl">
      <div class="container">
        <div>
          <input ng-model="searchText" placeholder="Search Here" ng-keyUp="showValues()">
          <table id="listOfValues">
            <tr ng-repeat="page in bookMarks | filter:searchText">
              <td ng-show="showList"><a ng-href="{{page.url}}">{{page.name}}</a></td>
              <td ng-hide="true">{{page.url}}</td>
              <td ng-hide="true">{{page.tags}}</td>
            </tr>
          </table>
        </div>
      </div>

      <script type="text/javascript" src="/js/popup.js"></script>
      <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/js/materialize.min.js"></script>
    </body>
  </html>
