<!DOCTYPE html>
  <html>
    <head>
      <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
      <link href="styles/styles.css" rel="stylesheet">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.2/css/materialize.min.css">
      <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      <script src="js/angular.js"></script>
    </head>
    <body  ng-app="myApp" ng-controller="myCtrl">
      <div class="container">
        <div>
          <input ng-model="searchText" placeholder="Search Here" ng-focus="showValues()">
          <table id="listOfValues">
            <tr style="font-size: 15px;" ng-click="openLink(page.url)" ng-repeat="page in bookMarks | filter:searchText">
              <td ng-show="showList"><a ng-href="{{page.url}}" >{{page.name}}</a></td>
              <td ng-hide="true">{{page.url}}</td>
              <td ng-hide="true">{{page.tags}}</td>
            </tr>
          </table>
        </div>
      </div>
      <script type="text/javascript" src="js/popup.js"></script>
      <script type="text/javascript" src="js/bookmarks.js"></script>
      <script type="text/javascript" src="js/jquery.js"></script>
      <script type="text/javascript" src="js/materialize.js"></script>
    </body>
  </html>